# Add environment variables in this file.
# Remove this file there is no environment variables.

MicrosoftAppId=not_secret
MicrosoftAppPassword=secret
LuisAppId=not_secret
LuisAPIKey=secret
LuisAPIHostName=not_secret
AppInsightsInstrumentationKey=secret
